html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2em;
}
  
#page-numbers {
    list-style: none;
    display: flex;
    position: relative;
    margin: 23px auto;
    text-align: center;
    align-content: center;
}
#page-numbers > li {
    margin: auto auto;
    padding-right: 1em;
    color: cadetblue;
    user-select: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    align-content: center;
}
